* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --ff-body: 'Staatliches', cursive;
    --ff-p: 'Palanquin', sans-serif;
    --ff-description: 'Roboto', sans-serif;
    --ff-footer: 'Open Sans', sans-serif;
    --fs-body: 1.39rem;
    --fs-h1: 4.0rem;
    --fs-h2: 2.0rem;
    --fs-footer: 1.4rem;
    --fs-description: 1.6rem;
    --bg-body: hsla(233, 100%, 97%, 1);
    --bg-header: hsla(218, 17%, 62%, 1);
    --bg-white: hsla(0, 0%, 100%, 1);
    --bg-h1: hsla(275, 18%, 79%, 1);
    --bg-h2: hsla(312, 91%, 96%, 1);
    --fc-h1: hsla(0, 0%, 100%, 1);
    --fc-h2: hsla(232, 17%, 35%, 1);
    --fc-p: hsla(274, 84%, 12%, 1);
}

body {
    font-family: var(--ff-body);
    background: var(--bg-body);
}

.page {
    margin: 0 auto;
    display: grid;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0 solid;
    background: var(--bg-header);
    margin-bottom: 6.4rem;
    gap: 3.2rem;
    padding: 3.2rem 0 0;
}

.ice-cream {
    height: 13.7rem;
    width: 13.7rem;
}

h1 {
    border: 0 solid;
    background: var(--bg-h1);
    padding: 0.8rem;
    width: 100%;
    font-weight: 400;
    font-size: var(--fs-h1);
    line-height: 3.4rem;
    text-align: center;
    color: var(--fc-h1);
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

main {
    display: flex;
    flex-direction: column;
    gap: 6.4rem;
    padding-bottom: 6.4rem;
}

.description-container {
    width: 100%;
    background: var(--bg-body);
    padding-top: 3.2rem;
}

p {
    font-family: var(--ff-p);
    font-size: var(--fs-body);
    font-weight: 400;
    line-height: 2.0rem;
    text-align: center;
    width: 30.5rem;
    margin: auto;
    color: var(--fc-p);
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.2rem;
}

.card {
    position: relative;
    animation: downtop 700ms;
}

.palettes-repeat,
.popsicle-repeat {
    display: none;
}

h2 {
    position: absolute;
    border: 0 solid;
    background: var(--bg-h2);
    border-radius: 2.0rem;
    width: 11.2rem;
    height: 3.5rem;
    top: 1.6rem;
    right: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: var(--fs-h2);
    line-height: 3.4rem;
    letter-spacing: 0.05em;
    color: var(--fc-h2);
    animation: topdown 700ms 350ms backwards;
}

footer {
    display: none;
}

@keyframes topdown {
    0% {
        opacity: 0;
        transform: translateY(-1.5rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes downtop {
    0% {
        opacity: 0;
        transform: translateY(2.0rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media(min-width:700px) {
    body {
        background: var(--bg-white);
    }

    .page {
        margin: 0;
        min-height: 100vh;
        display: grid;
        grid-template-columns: 37.7rem 1fr;
    }

    header {
        width: 100%;
        margin: 0;
    }

    .description-container {
        background: var(--bg-header);
    }

    p {
        width: 27.5rem;
        font-family: var(--ff-description);
        font-weight: 400;
        font-size: var(--fs-description);
        line-height: 2.3rem;
        color: var(--fc-h1);
    }

    footer {
        display: block;
        font-family: var(--ff-footer);
        font-weight: 400;
        font-size: var(--fs-footer);
        line-height: 2.8rem;
        text-align: center;
        color: var(--fc-h2);
    }

    footer a {
        text-decoration: none;
    }

    .card-container {
        margin: 6.4rem auto 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
            "palettes shakes palettes2"
            "popsicle shakes popsicle2"
            "popsicle pasta popsicle2";
    }

    .palettes {
        grid-area: palettes;
    }

    .palettes-repeat {
        display: block;
        grid-area: palettes2;
    }

    .shakes {
        grid-area: shakes;
    }

    .pasta {
        grid-area: pasta;
    }

    .popsicle {
        grid-area: popsicle;
    }

    .popsicle-repeat {
        display: block;
        grid-area: popsicle2;
    }

    .card img {
        width: 22.0rem;
    }

    main {
        padding-bottom: 4.4rem;
    }
}